/* lg */
@media (max-width: 992px) {
    .font-size-48{
        font-size: 38px;
      }
    .font-size-32{
        font-size: 24px;
    }
    .line-height-3{
        line-height: 30px;
    }

}


/* md */
@media (max-width: 768px) {
    .font-size-48{
        font-size: 32px;
      }
      .font-size-32{
        font-size: 22px;
    }
    .line-height-3{
        line-height: 30px;
    }
    .padding-section{
        padding-top: 70px;
        padding-bottom: 55px;
    }
}


@media (max-width: 576px) {
    .font-size-48{
        font-size: 22px;
      }
      .line-height-4{
        line-height: 25px;
      }
      .font-size-32{
        font-size: 18px;
    }
    .line-height-3{
        line-height: 28px;
    }
    .font-size-24{
        font-size: 17px;
    }
    .line-height-5{
        line-height: 20px;
      }
      .span-2-width{
        width: 100%;
        box-sizing: border-box;
      }
      .span-width{
        width: 100%;
        box-sizing: border-box;
      }
      .padding-section{
        padding-top: 70px;
        padding-bottom: 55px;
    }
  
}





/* xl */
/* @media (max-width: 1200px) {
    
} */


/* xxl */
/* @media (min-width: 1400px) { 
    
 } */